{% extends 'content/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>FeedDetail</title>
{% endblock %}


{% block main_area %}
<head>

    <style>
        .box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;
        }

        .profile{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    </style>
</head>
<body>

<div style="display: flex; flex-direction: row;text-align: center;justify-content: center;padding-top: 100px;">
    <div style="width: 600px; height: 1000px;">

        <div style="padding-bottom:30px;"></div>
        <div style="border: solid 1px gray;background-color: white;">
            <div style="display:flex;flex-direction:row;align-items: center;margin-left: 10px">
                <div class="box" style="width:50px; height:50px">
                    <img class="profile" src="{{ feed.profile_image }}">
                </div>
                <div style="padding-left: 10px">
                    {{ feed.user_id }}
                </div>
            </div>
            <div>
                <img class="profile" src="{{ feed.image.url }}">
            </div>
            <div style="display: flex;flex-display:row;justify-content: space-between;margin:0 10px">

                                <div>
                                    <a style="text-decoration: none" href="{% url 'likeapp:feed_like' pk=feed.pk %}">
                                        <i style="vertical-align: middle; color: #f77" class="material-symbols-outlined">favorite</i>
                                    </a>
                                        <span>
                                        {{ feed.like }}
                                        </span>

                                </div>
                                <div>
                                    <a href="{% url 'content:favorite' object.id %}" style="text-decoration: none" class="material-symbols-outlined">bookmark</a>
                                </div>



            </div>

            <div style="text-align: left;margin:0 10px;font-size: 16px"><b>{{ feed.user_id }}</b> {{ feed.content }}.</div>
                <div>
                    <hr/>
                {% if feed.comment_set.exists %}
                {% for comment in feed.comment_set.iterator %}
                <!-- Single Comment -->
                <div>
                        <div style="text-align: left;margin:0 10px;font-size: 14px"><b>{{ comment.user_id }}</b> {{ comment.content }}</div>
                </div>
                {% endfor %}
                {% endif %}
            </div>

            <!--            <div style="text-align: left;margin:0 10px;font-size: 14px"><b>psoozn</b> 댓글임</div>-->

            <!--            <div style="border-top: 1px solid gray;margin-top: 10px"><input type="email" class="form-control" style="box-shadow:none; border: none; outline: none" placeholder="댓글 달기..."></div>-->
        </div>
        <div class="card my-4">
            <h5 class="card-header">댓글 작성</h5>
            <div class="card-body">

                <form id="comment-form" method="POST" action="{{ feed.get_absolute_url }}new_comment/"> {% csrf_token %}
                    <div class="form-group">
                        {{ comment_form | crispy }}

                    </div>
                    <button type="submit" class="btn btn-primary">댓글 등록</button>
                </form>

            </div>

        </div>

    </div>




</div>
{% endblock %}
